<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Add {{title}}</title>
</head>
<body>
  <h1>Edit Recipe</h1>
<form method="POST" action="/recipes/edit/{{recip.id}}" class="form">
<div id="form-group">
  <label for="level">Name:</label>
  <input type="text" name="title" value="{{recip.title}}" class="form-control">
</div>
<div id="form-group">
  <label for="level">Level:</label>
  <input type="text" name="level" value="{{recip.level}}" class="form-control">
</div>
<div id="form-group">
  <label for="ingredients">Ingredients:</label>
 <textarea name="ingredients" value="{{recip.ingredients}}" id="" cols="30" rows="10" class="form-control"></textarea>
 <div id="form-group">
  <label for="level">Cuisine:</label>
  <input type="text" name="cuisine" value="{{recip.cuisine}}" class="form-control">
</div>
<div id="form-group">
  <label for="level">Dish:</label>
  <input type="text" name="dishType" value="{{recip.dishType}}" class="form-control">
</div>
<div id="form-group">
  <label for="level">Image:</label>
     <input type='text' name='image' value="{{recip.image}}" placeholder="Image url"/>
</div>
<div id="form-group">
  <label for="level">Duration:</label>
  <input type="text" name="duration" value="{{recip.duration}}" class="form-control">
</div>
<div id="form-group">
  <label for="level">Cook:</label>
  <input type="text" name="creator" value="{{recip.creator}}" class="form-control">
</div>
<div id="form-group">
  <label for="level">Date:</label>
  <input type="date" name="date" value="{{recip.date}}" class="form-control">
</div>
 <input type="submit" class="btn btn-primary" value="Submit">
</div>
</form>

</body>
</html>