<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="../stylesheets/recipe.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.min.css" />
    <script src="/javascript/loader.js"></script>
    <title>{{title}}</title>
</head>

<body id="fadein">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="logos">
                        <a href="/recipes"> <img src="../../images/yum.png" alt="logo"></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" id="username"> {{user.username}}</a></li>
                <li class="nav-item"><a class="nav-link logout" href="/logout">Logout<a></li>
      </ul>
    </div>
  </nav>


  <div class="container">
  <div id="progress"></div>
     <div class="bg-holder">
      <!-- container with a background only -->
      <img src={{recipe.image}}>
           <h1>Recipe</h1>
  </div>

  <div class="dish-type">

    <div class="dish">
      <img src="https://images.pexels.com/photos/2161643/pexels-photo-2161643.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-dessert" alt="dessert">
        <li class="nav-item"><a class="nav-link dessert" href="/desserts"><h2>Desserts</h2><a></li>
    </div>
    
    <div class="dinner">
      <img src="https://images.pexels.com/photos/1537635/pexels-photo-1537635.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-dessert" alt="dessert">
        <li class="nav-item"><a class="nav-link dessert" href="/dinner"><h2>Dinner</h2><a></li>
    </div>
    
    <div class="italian">
      <img src="https://images.pexels.com/photos/2295285/pexels-photo-2295285.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-dessert" alt="dessert">
        <li class="nav-item"><a class="nav-link dessert" href="/italian"><h2>Italian food</h2><a></li>
    </div>
    
    {{!-- //delete after  --}}
    <div class="lunch">
      <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-dessert" alt="lunch">
        <li class="nav-item"><a class="nav-link dessert" href="/lunch"><h2>Lunch</h2><a></li>
    </div>
    
    <div class="dinner">
      <img src="https://images.pexels.com/photos/1537635/pexels-photo-1537635.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-dessert" alt="dessert">
        <li class="nav-item"><a class="nav-link dessert" href="/dinner"><h2>Dinner</h2><a></li>
    </div>
    
    <div class="italian">
      <img src="https://images.pexels.com/photos/2295285/pexels-photo-2295285.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-dessert" alt="dessert">
        <li class="nav-item"><a class="nav-link dessert" href="/italian"><h2>Italian food</h2><a></li>
    </div>
    
    </div>

      <div class="img-recipe">
                  <a data-fancybox="gallery" href={{recipe.image}}><img src={{recipe.image}}></a>
        </div>

        <div class="cards">
            <div class="star-icons">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

            </div>
            <div class="cardz">


                {{#if updateRecipeSuccessMsg }}
                <div class="alert alert-success">{{ updateRecipeSuccessMsg }}</div>
                {{/if}} {{#if updateRecipeErrorMsg }}
                <div class="alert alert-danger">{{ updateRecipeErrorMsg }}</div>
                {{/if}}


                <h1>{{recipe.title}}</h1>
                <p class="date">{{dateFormat recipe.date "dddd, MMMM Do YYYY "}}</p>

                <div class="ingredients">
                    <h3>Ingredients: </h3><br />
                    <h5> {{ingredients}}</h5> <br /> {{!--
                    <p>{{ingredients}}</p> --}}
                </div>

                <div class="duration">
                    <h6>Duration: {{recipe.duration}}</h6>
                    <h6>Level: {{recipe.level}}</h6>
                </div>

                <div class="recipe-details">
                    <p class="direct"> {{recipe.directions}}</p>
                    <h4>Cuisine: {{recipe.cuisine}}</h4>
                    <p>Dish Type: {{recipe.dishType}}</p>
                    <p>Chef: {{recipe.creator}}</p>


                </div>

                <div class="buttons-container">
                    <button class="btn btn-secondary">
            <a class=" btn btn-secondary edit-recipe" href="/recipe/edit/{{recipe.id}}">Edit</a>
          </button>
                    <button class="btn btn-danger delete-recipe"  id="delete-recipe" title="Delete recipe?" data-id="{{recipe.id}}">Delete
       </button>
                </div>
            </div>
        </div>
        </div>


          <footer class="page-footer font-small blue">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
              <p>Copyright <i class="fa fa-copyright"></i> <a href="/"> CuiSZone </a>
                <script>document.write(new Date().getFullYear())</script>
              </p>
            </div>
          </footer>

      <script src="../javascript/progress.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
      <script async src="../../javascript/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
      <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"> </script>
</body>

</html>